.habilidades{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  padding: 50px 100px;
  text-align: center;
  background-color: #1c1c1c;
}

.habilidades h2{
  margin-bottom: 15px;
  color: #39FF14;
}